body {
    line-height: 1.6;
    background-color: #0c0c0c;
    overflow: hidden;
}

a { color: #fff; }

.link-content {
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    box-sizing: border-box;
    gap: 2%;
}

.text-content {
    position: relative;
    z-index: 10;
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    gap: 2%;
    background-color: #0c0c0c;
}

.text-content h1 {
    background-color: #0c0c0c;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 400%;
    padding: 10px;
    z-index: 5;
}

#stars-container {
    pointer-events: none; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    opacity: 0.8;
}

.link-content a {
    transition: filter 0.3s ease-in-out
}

.link-content a:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); 
}

@keyframes twinkling {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

@keyframes twinkle {
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.9; } 
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100vw, 0); /* Adjust this value for the desired horizontal movement */
    }
}
